{
  "openapi": "3.1.0",
  "info": {
    "title": "Dugble API",
    "description": "Programmatic access to Dugble email, SMS, sending infrastructure, contacts, audiences, suppressions, and broadcasts. Authenticate with a team token sent as a Bearer token.",
    "version": "1.0.0",
    "contact": {
      "name": "Dugble Support",
      "email": "support@dugble.com"
    }
  },
  "servers": [
    {
      "url": "https://api.dugble.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Email",
      "description": "Send and manage transactional emails."
    },
    {
      "name": "SMS",
      "description": "Send and manage SMS messages."
    },
    {
      "name": "Domains",
      "description": "Manage and verify sending domains."
    },
    {
      "name": "Templates",
      "description": "Create, version, publish, preview, and test reusable email templates."
    },
    {
      "name": "Sender IDs",
      "description": "Manage SMS sender IDs."
    },
    {
      "name": "Contacts",
      "description": "Manage contacts and their audience memberships."
    },
    {
      "name": "Contact Properties",
      "description": "Manage typed custom property definitions used by contacts."
    },
    {
      "name": "Topics",
      "description": "Manage contact subscription topics."
    },
    {
      "name": "Segments",
      "description": "Manage audience segments."
    },
    {
      "name": "Suppressions",
      "description": "Manage suppressed email recipients."
    },
    {
      "name": "Broadcasts",
      "description": "Create, schedule, and analyze email broadcasts."
    }
  ],
  "paths": {
    "/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List Emails",
        "description": "Returns email messages belonging to the authenticated team.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Emails retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "sendEmail",
        "summary": "Send Email",
        "description": "Queues an email for immediate or scheduled delivery.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailSendRequest"
              },
              "example": {
                "from": "Acme <onboarding@dugble.me>",
                "to": "ada@example.com",
                "subject": "Welcome to Acme",
                "html": "<h1>Welcome!</h1><p>Your account is ready.</p>"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Email accepted for asynchronous delivery.",
            "headers": {
              "Location": {
                "description": "Relative URL of the queued email.",
                "schema": {
                  "type": "string",
                  "example": "/emails/49a3999c-0ce1-4ea6-ab68-afcd6dc2e794"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/emails/batch": {
      "post": {
        "operationId": "sendEmailBatch",
        "summary": "Send Batch Emails",
        "description": "Atomically queues up to 50 emails. Attachments are not supported in batch requests. A top-level array is preferred; an object containing a `messages` array is also accepted.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EmailBatchArray"
                  },
                  {
                    "$ref": "#/components/schemas/EmailBatchObject"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "All emails accepted for asynchronous delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/emails/analytics": {
      "get": {
        "operationId": "getEmailAnalytics",
        "summary": "Get Email Analytics",
        "description": "Returns team-wide email delivery, open, click, and bounce analytics for fixed 7-day, 30-day, and 90-day windows.",
        "tags": [
          "Email"
        ],
        "responses": {
          "200": {
            "description": "Email analytics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAnalyticsEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/emails/{message_id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Retrieve Email",
        "description": "Retrieves a single email message by its Dugble message ID.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Update Email",
        "description": "Reschedules a pending scheduled email. The new scheduled_at value must be a future RFC 3339 timestamp.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailScheduleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email schedule updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/emails/{message_id}/cancel": {
      "post": {
        "operationId": "cancelEmail",
        "summary": "Cancel Email",
        "description": "Cancels an email that is still queued for scheduled delivery.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Email canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/emails/{message_id}/events": {
      "get": {
        "operationId": "listEmailEvents",
        "summary": "List Email Events",
        "description": "Returns delivery events for an email message.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/EventLimit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Email events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms": {
      "get": {
        "operationId": "listSmsMessages",
        "summary": "List SMS",
        "description": "Returns SMS messages belonging to the authenticated team.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by exact normalized SMS status.",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "processing",
                "submitted",
                "sent",
                "delivered",
                "undelivered",
                "rejected",
                "failed",
                "expired",
                "unknown",
                "canceled"
              ]
            }
          },
          {
            "name": "sender",
            "in": "query",
            "required": false,
            "description": "Filter by exact sender identity matching the response `from` value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Include messages created at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Include messages created at or before this RFC 3339 timestamp. Must not precede start_date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive partial match across recipient, sender, body, or provider message ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS messages retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS",
        "description": "Queues an SMS for immediate or scheduled delivery. Recipient numbers must use international format.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsSendRequest"
              },
              "example": {
                "to": "+233201234567",
                "from": "Dugble",
                "body": "Your verification code is 123456."
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "SMS accepted for asynchronous delivery.",
            "headers": {
              "Location": {
                "description": "Relative URL of the queued SMS.",
                "schema": {
                  "type": "string",
                  "example": "/sms/49a3999c-0ce1-4ea6-ab68-afcd6dc2e794"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/batch": {
      "post": {
        "operationId": "sendSmsBatch",
        "summary": "Send Batch SMS",
        "description": "Atomically validates, prices, charges, and queues up to 50 SMS messages. A top-level array is preferred; an object containing a `messages` array is also accepted.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SmsBatchArray"
                  },
                  {
                    "$ref": "#/components/schemas/SmsBatchObject"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "All SMS messages accepted for asynchronous delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/analytics": {
      "get": {
        "operationId": "getSmsAnalytics",
        "summary": "Get SMS Analytics",
        "description": "Returns team-wide SMS delivery analytics for fixed 7-day, 30-day, and 90-day windows plus 90-day delivery totals by destination country.",
        "tags": [
          "SMS"
        ],
        "responses": {
          "200": {
            "description": "SMS analytics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsAnalyticsEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/{message_id}": {
      "get": {
        "operationId": "getSmsMessage",
        "summary": "Retrieve SMS",
        "description": "Retrieves a single SMS message by its Dugble message ID.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateSmsMessage",
        "summary": "Update SMS",
        "description": "Reschedules a pending scheduled SMS outside the delivery cutoff. The new scheduled_at value must be a future RFC 3339 timestamp at least 30 seconds ahead.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsScheduleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS schedule updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/{message_id}/cancel": {
      "post": {
        "operationId": "cancelSmsMessage",
        "summary": "Cancel SMS",
        "description": "Cancels a pending scheduled SMS outside the final 15-second delivery cutoff.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/{message_id}/events": {
      "get": {
        "operationId": "listSmsEvents",
        "summary": "List SMS Events",
        "description": "Returns delivery events for an SMS message.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/EventLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sms/{message_id}/sync-status": {
      "post": {
        "operationId": "syncSmsStatus",
        "summary": "Sync SMS Status",
        "description": "Refreshes the delivery status from the SMS provider.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS status synchronized successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List Templates",
        "description": "Returns reusable email templates for the authenticated team using limit/offset pagination.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create Template",
        "description": "Creates a reusable email template and its initial draft version.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreateRequest"
              },
              "example": {
                "name": "Welcome email",
                "alias": "welcome-email",
                "category": "welcome",
                "from": "Acme <hello@example.com>",
                "subject": "Welcome, {{{FIRST_NAME}}}",
                "html": "<h1>Welcome {{{FIRST_NAME}}}</h1>",
                "variables": [
                  {
                    "key": "FIRST_NAME_CUSTOM",
                    "type": "string",
                    "fallback_value": "there"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Retrieve Template",
        "description": "Retrieves a template by UUID or alias, including its current draft content and publish state.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Template retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResourceEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateTemplate",
        "summary": "Update Template",
        "description": "Updates template metadata or content and creates a new current draft version.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete Template",
        "description": "Deletes a reusable email template.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/publish": {
      "post": {
        "operationId": "publishTemplate",
        "summary": "Publish Template",
        "description": "Publishes the template's current version. The current version must have a non-empty subject and valid content.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Template published successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/duplicate": {
      "post": {
        "operationId": "duplicateTemplate",
        "summary": "Duplicate Template",
        "description": "Duplicates the template's current version into a new draft template. The generated name defaults to the source name plus ' Copy'.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Template duplicated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/versions": {
      "get": {
        "operationId": "listTemplateVersions",
        "summary": "List Template Versions",
        "description": "Returns template versions using limit/offset pagination.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Template versions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateVersionListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/versions/{version_id}": {
      "get": {
        "operationId": "getTemplateVersion",
        "summary": "Retrieve Template Version",
        "description": "Retrieves a specific immutable template version.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/TemplateVersionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template version retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateVersionEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/versions/{version_id}/revert": {
      "post": {
        "operationId": "revertTemplateVersion",
        "summary": "Revert Template Version",
        "description": "Creates a new current draft version by copying content from the selected historical version.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/TemplateVersionId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Template reverted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateStateEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/preview": {
      "post": {
        "operationId": "previewTemplate",
        "summary": "Preview Template",
        "description": "Renders the current or requested template version with optional variable values without sending it.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplatePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template preview rendered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatePreviewEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/templates/{template}/test-send": {
      "post": {
        "operationId": "testSendTemplate",
        "summary": "Test Send Template",
        "description": "Renders the current or requested version and queues a test email to one recipient.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateTestSendRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Template test email accepted for delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List Domains",
        "description": "Returns sending domains configured for the authenticated team.",
        "tags": [
          "Domains"
        ],
        "responses": {
          "200": {
            "description": "Sending domains retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createDomain",
        "summary": "Create Domain",
        "description": "Creates and provisions a sending domain. Provisioning may be asynchronous while email infrastructure is being prepared.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainCreateRequest"
              },
              "example": {
                "name": "mail.example.com",
                "region": "us-east-1",
                "tls": "opportunistic"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created and provisioned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "202": {
            "description": "Domain accepted while infrastructure provisioning completes.",
            "headers": {
              "Retry-After": {
                "description": "Suggested delay before checking again.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/domains/{domain_id}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Retrieve Domain",
        "description": "Retrieves a sending domain and its current verification state.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateDomain",
        "summary": "Update Domain",
        "description": "Updates mutable configuration for a sending domain. Currently only the TLS mode can be changed.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete Domain",
        "description": "Removes a sending domain from the authenticated team.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/domains/{domain_id}/verify": {
      "post": {
        "operationId": "verifyDomain",
        "summary": "Verify Domain",
        "description": "Checks the domain's provider and DNS verification state and returns the updated domain.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain verification checked successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sender-ids": {
      "get": {
        "operationId": "listSenderIds",
        "summary": "List Sender IDs",
        "description": "Returns SMS sender IDs belonging to the authenticated team.",
        "tags": [
          "Sender IDs"
        ],
        "responses": {
          "200": {
            "description": "Sender IDs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSenderId",
        "summary": "Create Sender ID",
        "description": "Creates a new SMS sender ID for a specific country and sending purpose.",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SenderIdCreateRequest"
              },
              "example": {
                "name": "DUGBLE",
                "country_code": "GH",
                "purpose": "Transactional notifications"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sender ID created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/sender-ids/{sender_id}": {
      "get": {
        "operationId": "getSenderId",
        "summary": "Retrieve Sender ID",
        "description": "Retrieves a single SMS sender ID and its current approval status.",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SenderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sender ID retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSenderId",
        "summary": "Delete Sender ID",
        "description": "Deactivates the sender ID and returns its updated state.",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SenderId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Sender ID deactivated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenderIdEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List Contacts",
        "description": "Returns contacts belonging to the authenticated team.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create Contact",
        "description": "Creates a contact with email, phone, consent, and custom property data.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreateRequest"
              },
              "example": {
                "email": "ada@example.com",
                "phone": "+233201234567",
                "first_name": "Ada",
                "last_name": "Lovelace",
                "sms_consent_status": "opted_in",
                "sms_consent_source": "api"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Retrieve Contact",
        "description": "Retrieves a single contact by ID.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update Contact",
        "description": "Updates the mutable fields of an existing contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete Contact",
        "description": "Deletes a contact from the authenticated team.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contacts/{contact_id}/topics": {
      "get": {
        "operationId": "listContactTopics",
        "summary": "List Contact Topics",
        "description": "Returns the topics associated with a contact and the contact's subscription state for each topic.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/CursorLimit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact topics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactTopicListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateContactTopics",
        "summary": "Update Contact Topics",
        "description": "Updates a contact's opt-in or opt-out state for one or more topics.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactTopicUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact topic subscriptions updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactTopicUpdateEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contacts/{contact_id}/segments": {
      "get": {
        "operationId": "listContactSegments",
        "summary": "List Contact Segments",
        "description": "Returns the segments that currently include the contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact segment memberships retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentMembershipListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contacts/{contact_id}/segments/{segment_id}": {
      "post": {
        "operationId": "addContactToSegment",
        "summary": "Add Contact to Segment",
        "description": "Adds a contact to a segment. Repeating the operation for an existing membership is safe.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/SegmentId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The contact was already a member of the segment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentMembershipEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Contact added to the segment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentMembershipEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "removeContactFromSegment",
        "summary": "Remove Contact from Segment",
        "description": "Removes a contact's membership from a segment.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactId"
          },
          {
            "$ref": "#/components/parameters/SegmentId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact removed from the segment."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contact-properties": {
      "get": {
        "operationId": "listContactProperties",
        "summary": "List Contact Properties",
        "description": "Returns contact property definitions configured for the authenticated team.",
        "tags": [
          "Contact Properties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CursorLimit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact properties retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createContactProperty",
        "summary": "Create Contact Property",
        "description": "Creates a typed custom property definition for contacts. Property keys are unique within the team.",
        "tags": [
          "Contact Properties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPropertyCreateRequest"
              },
              "examples": {
                "stringProperty": {
                  "summary": "String property",
                  "value": {
                    "key": "company_name",
                    "type": "string",
                    "fallback_value": "Unknown"
                  }
                },
                "numberProperty": {
                  "summary": "Number property",
                  "value": {
                    "key": "lifetime_value",
                    "type": "number",
                    "fallback_value": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact property created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyMutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/contact-properties/{property_id}": {
      "get": {
        "operationId": "getContactProperty",
        "summary": "Retrieve Contact Property",
        "description": "Retrieves a single contact property definition by ID.",
        "tags": [
          "Contact Properties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactPropertyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact property retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateContactProperty",
        "summary": "Update Contact Property",
        "description": "Replaces the fallback value for a contact property. Send `null` to clear the fallback value.",
        "tags": [
          "Contact Properties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactPropertyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPropertyUpdateRequest"
              },
              "example": {
                "fallback_value": "Unknown"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact property updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyMutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteContactProperty",
        "summary": "Delete Contact Property",
        "description": "Deletes a contact property definition from the authenticated team.",
        "tags": [
          "Contact Properties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContactPropertyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact property deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyDeleteEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/topics": {
      "get": {
        "operationId": "listTopics",
        "summary": "List Topics",
        "description": "Returns subscription topics configured for the authenticated team.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CursorLimit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          }
        ],
        "responses": {
          "200": {
            "description": "Topics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createTopic",
        "summary": "Create Topic",
        "description": "Creates a subscription topic with a default subscription state and visibility.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicCreateRequest"
              },
              "example": {
                "name": "Product updates",
                "default_subscription": "opt_in",
                "visibility": "private"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/topics/{topic_id}": {
      "get": {
        "operationId": "getTopic",
        "summary": "Retrieve Topic",
        "description": "Retrieves a single subscription topic by ID.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TopicId"
          }
        ],
        "responses": {
          "200": {
            "description": "Topic retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateTopic",
        "summary": "Update Topic",
        "description": "Updates the name, description, or visibility of a subscription topic.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TopicId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteTopic",
        "summary": "Delete Topic",
        "description": "Deletes a subscription topic from the authenticated team.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TopicId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Topic deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "List Segments",
        "description": "Returns audience segments belonging to the authenticated team.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SegmentLimit"
          },
          {
            "$ref": "#/components/parameters/SegmentOffset"
          }
        ],
        "responses": {
          "200": {
            "description": "Segments retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSegment",
        "summary": "Create Segment",
        "description": "Creates a new audience segment for organizing contacts.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Segment created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/segments/{segment_id}": {
      "get": {
        "operationId": "getSegment",
        "summary": "Retrieve Segment",
        "description": "Retrieves a single audience segment by ID.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SegmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSegment",
        "summary": "Delete Segment",
        "description": "Deletes an audience segment from the authenticated team.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SegmentId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/segments/{segment_id}/audience-size": {
      "get": {
        "operationId": "getSegmentAudienceSize",
        "summary": "Get Segment Audience Size",
        "description": "Returns the current number of contacts assigned to the segment. This is raw segment membership and does not apply unsubscribe, topic, or suppression eligibility rules.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SegmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment audience size retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentAudienceSizeEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/segments/{segment_id}/contacts": {
      "get": {
        "operationId": "listSegmentContacts",
        "summary": "List Segment Contacts",
        "description": "Returns contacts that are currently members of the segment.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SegmentId"
          },
          {
            "$ref": "#/components/parameters/SegmentLimit"
          },
          {
            "$ref": "#/components/parameters/SegmentOffset"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment contacts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentContactListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/suppressions": {
      "get": {
        "operationId": "listSuppressions",
        "summary": "List Suppressions",
        "description": "Returns suppressed email addresses for the authenticated team, optionally filtered by origin.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CursorLimit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "description": "Filter by suppression origin.",
            "schema": {
              "type": "string",
              "enum": [
                "bounce",
                "complaint",
                "manual"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suppressions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSuppression",
        "summary": "Create Suppression",
        "description": "Adds an email address to the team's suppression list.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppression created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MutationEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/suppressions/batch/add": {
      "post": {
        "operationId": "batchAddSuppressions",
        "summary": "Add Suppressions",
        "description": "Adds up to 100 email addresses to the team's suppression list in one request.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionBatchAddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppressions added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionBatchAddEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/suppressions/batch/remove": {
      "post": {
        "operationId": "batchRemoveSuppressions",
        "summary": "Remove Suppressions",
        "description": "Removes up to 100 suppressions by email address or suppression ID. Provide either `emails` or `ids`, but not both.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionBatchRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suppressions removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionBatchRemoveEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/suppressions/{suppression}": {
      "get": {
        "operationId": "getSuppression",
        "summary": "Retrieve Suppression",
        "description": "Retrieves a suppression by UUID or email address.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SuppressionIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSuppression",
        "summary": "Delete Suppression",
        "description": "Removes a suppression by UUID or email address.",
        "tags": [
          "Suppressions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SuppressionIdentifier"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts": {
      "get": {
        "operationId": "listBroadcasts",
        "summary": "List Broadcasts",
        "description": "Returns broadcasts belonging to the authenticated team.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcasts retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createBroadcast",
        "summary": "Create Broadcast",
        "description": "Creates a broadcast with its own sender and email content. By default the broadcast is a draft; set send to true to queue immediately or combine send with a future scheduled_at to schedule it.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastCreateRequest"
              },
              "example": {
                "name": "August product update",
                "segment_id": "49a3999c-0ce1-4ea6-ab68-afcd6dc2e794",
                "from_email": "hello@example.com",
                "from_name": "Dugble",
                "subject": "What's new this month",
                "preview_text": "A quick look at what shipped.",
                "html": "<p>Hello {{{FIRST_NAME}}}</p>",
                "text": "Hello {{{FIRST_NAME}}}",
                "variable_bindings": {
                  "FIRST_NAME": "there"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}": {
      "get": {
        "operationId": "getBroadcast",
        "summary": "Retrieve Broadcast",
        "description": "Retrieves a single broadcast by ID, including its current delivery state and audience counts.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateBroadcast",
        "summary": "Update Broadcast",
        "description": "Updates a draft or scheduled broadcast. Supply the current revision for optimistic concurrency control; nullable content fields can be cleared with JSON null.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteBroadcast",
        "summary": "Delete Broadcast",
        "description": "Deletes a broadcast that is still in draft or canceled state.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/send": {
      "post": {
        "operationId": "sendBroadcast",
        "summary": "Send Broadcast",
        "description": "Queues a draft broadcast immediately, or schedules it when `scheduled_at` is supplied.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastSendRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Broadcast accepted for sending or scheduling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/cancel": {
      "post": {
        "operationId": "cancelBroadcast",
        "summary": "Cancel Broadcast",
        "description": "Cancels active scheduling or execution. Scheduled broadcasts return to draft; queued broadcasts move to canceled and remaining fanout stops.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/duplicate": {
      "post": {
        "operationId": "duplicateBroadcast",
        "summary": "Duplicate Broadcast",
        "description": "Creates a new draft by copying the source broadcast audience and exact owned message content.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastDuplicateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast duplicated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/preview": {
      "post": {
        "operationId": "previewBroadcast",
        "summary": "Preview Broadcast",
        "description": "Renders the broadcast-owned subject and body with optional preview variables without sending it.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast preview rendered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastPreviewEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/recipients": {
      "get": {
        "operationId": "listBroadcastRecipients",
        "summary": "List Broadcast Recipients",
        "description": "Returns recipients captured for the broadcast, including delivery and exclusion state.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          },
          {
            "$ref": "#/components/parameters/LimitOffset"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast recipients retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastRecipientListEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/exclusions": {
      "get": {
        "operationId": "getBroadcastExclusions",
        "summary": "Get Broadcast Exclusions",
        "description": "Returns the number of excluded broadcast recipients grouped by exclusion reason.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast exclusion summary retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastExclusionEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/broadcasts/{broadcast}/analytics": {
      "get": {
        "operationId": "getBroadcastAnalytics",
        "summary": "Get Broadcast Analytics",
        "description": "Returns aggregate delivery, bounce, complaint, open, and click metrics for the broadcast.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BroadcastId"
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast analytics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastAnalyticsEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Team token",
        "description": "Pass a Dugble team token in the Authorization header as Bearer <token>. Team token secrets use the dgb_team_ prefix."
      }
    },
    "parameters": {
      "MessageId": {
        "name": "message_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "DomainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "TemplateIdentifier": {
        "name": "template",
        "in": "path",
        "required": true,
        "description": "Template UUID or alias.",
        "schema": {
          "type": "string"
        }
      },
      "TemplateVersionId": {
        "name": "version_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SenderId": {
        "name": "sender_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ContactId": {
        "name": "contact_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ContactPropertyId": {
        "name": "property_id",
        "in": "path",
        "required": true,
        "description": "Contact property UUID.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "TopicId": {
        "name": "topic_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SegmentId": {
        "name": "segment_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "BroadcastId": {
        "name": "broadcast",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SuppressionIdentifier": {
        "name": "suppression",
        "in": "path",
        "required": true,
        "description": "Suppression UUID or email address.",
        "schema": {
          "type": "string"
        }
      },
      "LimitOffset": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of records to return. Most offset-paginated endpoints default to 50 and cap at 100.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Number of records to skip.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0
        }
      },
      "SegmentLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of records to return. Omitted or non-positive values use 50; values above 100 are capped at 100. Malformed integers return 400.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 50
        }
      },
      "SegmentOffset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Number of records to skip. Omitted or negative values use 0. Malformed integers return 400.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 0
        }
      },
      "EventLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of message events to return. Defaults to 100; values above 100 use the default.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100,
          "default": 100
        }
      },
      "CursorLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of records to return. Defaults to 20 and must be between 1 and 100.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "After": {
        "name": "after",
        "in": "query",
        "required": false,
        "description": "Return records after this UUID cursor. Cannot be combined with before.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Before": {
        "name": "before",
        "in": "query",
        "required": false,
        "description": "Return records before this UUID cursor. Cannot be combined with after.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Optional idempotency key for mutation requests. Maximum 256 characters.",
        "schema": {
          "type": "string",
          "maxLength": 256
        }
      },
      "RequiredIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Required unique key for email and SMS send requests. Maximum 256 characters.",
        "schema": {
          "type": "string",
          "maxLength": 256
        }
      }
    },
    "responses": {
      "Error": {
        "description": "The request failed. See the HTTP status and structured error code for the category.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "BAD_REQUEST",
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "STEP_UP_REQUIRED",
                  "NOT_FOUND",
                  "CONFLICT",
                  "PAYMENT_REQUIRED",
                  "PAYLOAD_TOO_LARGE",
                  "UNPROCESSABLE_ENTITY",
                  "TOO_MANY_REQUESTS",
                  "INTERNAL_ERROR",
                  "SERVICE_UNAVAILABLE"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "MutationResponse": {
        "type": "object",
        "required": [
          "object",
          "id"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "MutationEnvelope": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/MutationResponse"
          }
        }
      },
      "MutationListEnvelope": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MutationResponse"
            }
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "deleted"
        ],
        "properties": {
          "object": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteEnvelope": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/DeleteResponse"
          }
        }
      },
      "EmailAddressObject": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "maxLength": 128
          }
        },
        "additionalProperties": false
      },
      "EmailAddress": {
        "oneOf": [
          {
            "type": "string",
            "example": "Ada Lovelace <ada@example.com>"
          },
          {
            "$ref": "#/components/schemas/EmailAddressObject"
          }
        ]
      },
      "EmailAddressOrList": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/EmailAddress"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailAddress"
            }
          }
        ]
      },
      "Tag": {
        "type": "object",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256
          },
          "value": {
            "type": "string",
            "maxLength": 256
          }
        }
      },
      "Attachment": {
        "type": "object",
        "required": [
          "filename"
        ],
        "properties": {
[...]
